:root {
  --background: #4190e4;
  --colorBtn: #407ab8;
  --hcolorBtn: #2e6aaa;
  --white: #fff;
  --black: #3c3c3c;
  --light: #dddddd;
  --lgreen: #00c55c;
  --green: #009c49;
}
.outer_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#show_graph {
  overflow-x: auto;
  text-align: center;
  height: auto;
  width: 850px;
  margin: 0;
  flex-direction: row-reverse;
  position: relative;
}
#show_graph h6 {
  position: sticky;
  top: 0px;
  left: 0px;
}
.date {
  font-weight: 400;
  display: inline-block;
  background-color: var(--background);
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 8px;
  color: var(--white);
}
/* width */
#show_graph::-webkit-scrollbar {
  height: 10px;
}
/* Track */
#show_graph::-webkit-scrollbar-track {
  background: var(--light);
  border-radius: 0px;
}
/* Handle */
#show_graph::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 0px;
}
/* Handle on hover */
#show_graph::-webkit-scrollbar-thumb:hover {
  background: var(--colorBtn);
}
.bar_box {
  width: 2550px;
  height: 360px;
  border-bottom: 3px solid var(--hcolorBtn);
  border-left: 3px solid var(--hcolorBtn);
  display: flex;
  align-items: end;
}
.bar_box div {
  width: 44px;
  margin: 0px 20px;
  /* height: 300px; */
  position: relative;
  background-color: var(--background);
  transition: all 0.5s;
}
.bar_box span {
  position: absolute;
  top: -46px;
  left: 0px;
  width: 44px;
  aspect-ratio: 1;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar_box1 {
  width: 2550px;
  height: 100px;
  border-bottom: 3px solid var(--white);
  border-left: 3px solid var(--white);
  display: flex;
  align-items: flex-start;
}
.bar_box1 div {
  width: 44px;
  aspect-ratio: 1;
  margin: 0px 20px;
  position: relative;
  background-color: var(--lgreen);
  color: var(--white);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar_box1 span {
  position: absolute;
  border-radius: 8px;
  top: +46px;
  left: 0px;
  width: 44px;
  aspect-ratio: 1;
  background-color: var(--background);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  #show_graph {
    width: 325px;
  }
  .bar_box {
    width: 1275px;
    height: 360px;
  }
  .bar_box div {
    width: 22px;
    margin: 0px 10px;
    /* height: 300px; */
  }
  .bar_box span {
    top: -23px;
    width: 22px;
    font-size: 11px;
  }
  .bar_box1 {
    width: 1275px;
    height: 50px;
  }
  .bar_box1 div {
    width: 22px;
    margin: 0px 10px;
    font-size: 11px;
  }
  .bar_box1 span {
    top: +23px;
    width: 22px;
    font-size: 11px;
  }
}
