:root {
  --background: #4190e4;
  --colorBtn: #407ab8;
  --hcolorBtn: #2e6aaa;
  --white: #fff;
  --black: #3c3c3c;
  --light: #b8b8b8;
  --lgreen: #00c55c;
  --green: #009c49;
}
.outer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bar_box {
  width: 650px;
  height: 360px;
  border-bottom: 3px solid var(--hcolorBtn);
  border-left: 3px solid var(--hcolorBtn);
  display: flex;
  align-items: end;
}
.bar_box div {
  width: 44px;
  margin: 0px 20px;
  /* height: 300px; */
  position: relative;
  background-color: var(--background);
  transition: all 0.5s;
}
.bar_box span {
  position: absolute;
  top: -46px;
  left: 0px;
  width: 44px;
  aspect-ratio: 1;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar_box1 {
  width: 650px;
  height: 70px;
  border-bottom: 3px solid var(--white);
  border-left: 3px solid var(--white);
  display: flex;
  align-items: end;
}
.bar_box1 div {
  width: 44px;
  aspect-ratio: 1;
  margin: 0px 20px;
  position: relative;
  background-color: var(--lgreen);
  color: var(--white);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar_box1 span {
  position: absolute;
  border-radius: 8px;
  top: +46px;
  left: 0px;
  width: 44px;
  aspect-ratio: 1;
  background-color: var(--background);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .bar_box {
    width: 325px;
    height: 360px;
  }
  .bar_box div {
    width: 22px;
    margin: 0px 10px;
    /* height: 300px; */
  }
  .bar_box span {
    top: -23px;
    width: 22px;
    font-size: 11px;
  }
  .bar_box1 {
    width: 325px;
    height: 35px;
  }
  .bar_box1 div {
    width: 22px;
    margin: 0px 10px;
    font-size: 11px;
  }
  .bar_box1 span {
    top: +23px;
    width: 22px;
    font-size: 11px;
  }
}
